@font-face {
	font-family: 'Crewniverse';
	src: url("./assets/crewniverse_font.ttf"), format("ttf");
}


:root {
    --color-title: #ec4b39ff;
    --color-button: #9b8ecaff;
}

html[data-theme="light"] {
    --color-bg: #f5f3a5ff;
    --color-border: #fcde4bff;
    --color-box: #c0e7f6ff;
    --color-fg: #04152dff; 
}
 
html[data-theme="dark"] {
    --color-bg: #04152dff; 
    --color-border: #0c4d94ff;
    --color-box: #7aaee3ff;
    --color-fg: #f5f3a5ff;
}

html,
body {
    margin: 0;
    padding: 0;
    user-select: none;
    touch-action: manipulation;
    text-align: center;
    font-family: 'Crewniverse', Arial, sans-serif;
    transition: 0.3s;
}

body{
    background-color: var(--color-bg);
}

h1 {
    font-size: 2rem;
    color: var(--color-title);
    margin: 0;
}

h2 {
    font-size: 1rem;
    color: var(--color-fg);
    margin: 0;
}

p {
    font-size: 1rem;
    color: var(--color-fg);
    margin: 0.5rem;
}

.data-box p {
    background-color: var(--color-box);
    border-radius: 2rem;
    min-height: 2.5rem;
    line-height: 2.5;
    padding: 0 1rem;
}

.achievements_rules p {
    font-size: 0.75rem;
    min-height: 1.5rem;
    line-height: 2;
}

button {
    font-size: 1.5rem;
    font-family: 'Crewniverse', Arial, sans-serif;
    color: var(--color-fg);
    background-color: var(--color-button);
    padding: 0.25rem 2.5rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
}

button:hover {
    box-shadow: 0 0 1rem inset var(--color-border);
}

.profile {
    border: 0.5rem solid var(--color-border);
    border-radius: 100%;
    max-width: 25%;
    margin: 1rem;
}

.theme-toggle {
    font-size: 0.75rem;
    background-color: var(--color-bg);
    border: 0.1rem solid var(--color-fg);
    border-radius: 1rem;
}

.salesboard-container{
    margin: auto;
    max-width: 500px;
}

.display-block-right{
    display: block;
    margin-left: auto;
}

.display-block-center {
    display: block;
    margin: auto;
}

.data-box-flex {
    display: flex;
}

.data-box-flex div {
    width: 50%;
}

.reset-box {
    margin-top: 2rem;
}